body{
    margin:0;
    padding:0;
    background:#050816;
    font-family:Arial, sans-serif;
    color:white;
    display:flex;
    justify-content:center;
    align-items:center;
    height:100vh;
}

.container{
    text-align:center;
}

.logo{
    width:250px;
    margin-bottom:20px;
}

h1{
    font-size:60px;
    color:#6ae3ff;
    text-shadow:0 0 20px #00ccff;
}

p{
    font-size:20px;
    max-width:700px;
    margin:auto;
    color:#c7d9e5;
}

button{
    margin-top:30px;
    padding:15px 35px;
    border:none;
    border-radius:12px;
    background:#00ccff;
    color:black;
    font-size:18px;
    cursor:pointer;
    transition:0.3s;
}

button:hover{
    background:white;
}
