body{
    margin:0;
    padding:0;
    background:#050816;
    font-family:Arial, sans-serif;
    color:white;
    display:flex;
    justify-content:center;
    align-items:center;
    height:100vh;
}

.container{
    text-align:center;
    width:100%;
}

.logo{
    width:180px;
    height:auto;
}

h1{
    font-size:60px;
    color:#6ae3ff;
    text-shadow:0 0 20px #00ccff;
    margin-top:20px;
}

p{
    font-size:20px;
    color:#c7d9e5;
}
